<div class="total-comments">
  {{#each this}}
  <section class="total-comment">
    <div class="comment-text">
      {{comment_text}}
    </div>
    <div class="comment-meta">
      {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>