{{!-- template to generate the dashboard --}}
<section>
  <h2>Create New Blog</h2>
  
  {{!-- form to submit new blog --}}
  <form class="new-blog-form form-row">
    <div class="form-group" id="form-title">
      <label for="blog-title" >Title</label>
      <input type="text" id="blog-title" class="form-control form-control-lg" name="blog-title" required/>
    </div>
    <div class="form-group" id="form-content">
      <label for="content">Content</label>
      <textarea type="text" class="form-control form-control-lg" id="content" name="blog-content" rows="8" required></textarea>
    </div>
    <button type="submit" id="new-blog-button" class="btn">Create Blog</button>
  </form>
</section>

{{!-- template to show blogs the user has written --}}
{{#if blogs.length}}
<section>
  <h2>Your Blogs</h2>
  <ol class="your-blogs">
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
      <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

{{!-- script to the javascript file to create a blog --}}
<script src="/javascript/add-blog.js"></script>