{{!-- shows the single blog information using the partial --}}
{{> blog-info blog}}

{{!-- form to allow the user to comment on a blog --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="textarea-comment" name="comment-body" required></textarea>
  </div>

  <div>
    <button id="textarea-commentbtn" type="submit">Comment on this Blog</button>
  </div>
</form>
{{/if}}

{{!-- shows the comments on that blog using the partial --}}
{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}